$align: (
  axis: (
    start: flex-start,
    center: center,
    end: flex-end
  )
);

@function align-axis($pos) {
  @return map-get-deep($align, "axis", $pos);
}

%align-x {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

%align-x-start {
  justify-content: align-axis(start);
}

%align-x-center {
  justify-content: align-axis(center);
}

%align-x-end {
  justify-content: align-axis(end);
}

%align-y {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

%align-y-start {
  align-items: align-axis(start);
}

%align-y-center {
  align-items: align-axis(center);
}

%align-y-end {
  align-items: align-axis(end);
}

@mixin align($axis: 'x', $position: 'center') {
  @if $axis {
    @if $axis == 'x' {
      @extend %align-x;
    }
    @else if $axis == 'y' {
      @extend %align-y;
    }

    @if $position {
      @extend %align-#{$axis}-#{$position};
    }
  }
}
