$fh-skin-color-default-fg: #404142 !default;
$fh-skin-color-default-bg: #efeeed !default;
$fh-skin-color-primary: #5db1f9 !default;
$fh-skin-color-primary-darken: darken($fh-skin-color-primary, 20%) !default;
