$fh-settings: (
  prefix: (
    elements: ''
  )
);

$fh-ui: (
  bar: 'bar',
  button: 'button',
  content: 'content',
  card: 'card',
  media: 'media',
  belt: 'belt',
  text: 'text'
);

$fh-component: "[class*=Cmp]";
