.text,
.button,
.icon,
.inner {
  display: inline-flex;
  align-items: center;
}

.text,
.button {
  font-size: 1em;
}

.icon {
  width: 1em;
}

.icon,
.text {
  color: inherit;
}

.icon + .text {
  margin-left: 0.5em;
}

.text + .icon {
  margin-left: 0.5em;
}

.button {
  @extend %Button;
}