.text,
.button,
.media,
.inner {
  display: inline-flex;
  align-items: center;
}

.text,
.button {
  font-size: 1em;
}

.media {
  width: 1em;
}

.media,
.text {
  color: inherit;
}

.media + .text {
  margin-left: 0.5em;
}

.text + .media {
  margin-left: 0.5em;
}

.button {
  @extend %Button;
}
