:root {
  --typo-font-stack-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --typo-font-primary: 'Avenir';
  --skin-color-default-fg: $fh-skin-color-default-fg;
  --skin-color-default-bg: $fh-skin-color-default-bg;
  --skin-color-primary: $fh-skin-color-primary;
  --skin-color-primary-darken: $fh-skin-color-primary-darken;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--typo-font-primary), var(--typo-font-stack-system);
  background-image: linear-gradient(-225deg, #a247ed 0, #7548ee 100%);
  color: white;
  -webkit-touch-callout: none;
}

body {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;

  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}