* {
  &:focus, &:visited:focus {
    outline: none;
  }
}

[tabindex='-1'] {
  outline: none;
}

::selection,
[fh-highlight] {
  color: white;
  background-color: rgba(black, 0.2);
  text-shadow : 1px 1px 0.5em rgba(white, 0.5);
}