%o-bar {
  @include Align(x, start);
  width: 100%;
  height: auto;

  &__item {
    display: flex;
    width: 100%;
  }
}

@mixin o-bar() {
  @extend %o-bar;
}

@mixin c-bar($options: ()) {
  @include component('bar', $options);
}
