%Bar {
  @include Align(x, start);
  width: 100%;
  height: auto;

  &__item {
    display: flex;
    width: 100%;
  }
}

@mixin Bar() {
  @extend %Bar;
}

@if $abstracts-as-output {
  .bar {
    @include Bar();
  }
}
