%o-bar {
  @include align(x, start);
  width: 100%;
  height: auto;

  &__item {
    display: flex;
    width: 100%;
  }
}

@mixin c-bar($options: ()) {
  @include component(map-get($ui, 'bar'), $options);
}
