%o-belt {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@mixin c-belt($options: ()) {
  @include component('belt', $options) {
    $w-max: map-get($options, width-max);
    @if $w-max {
      max-width: $w-max;
    }
  };
}
