%fh-belt {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@mixin fh-belt($options: ()) {
  @include fh-component(ui-belt, $options) {
    $w-max: map-get($options, width-max);
    @if $w-max {
      max-width: $w-max;
    }
  };
}
