%fh-button {
  @include fh-align(x, center);
  font-size: 1em;
  appearance: none;
  cursor: pointer;
  height: fit-content;
  line-height: 1.25;
  margin-right: auto;
  padding: 0.33em 0.75em;
  border-radius: 0.33em;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  text-rendering: auto;
  letter-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: center;
  text-decoration: none;
  word-spacing: normal;
  color: $fh-skin-color-default-fg;
  background-color: $fh-skin-color-default-bg;
  border: 1px solid $fh-skin-color-default-bg;
  box-shadow: 0 2px 2px rgba($fh-skin-color-default-fg, 0.08),
    0 4px 4px rgba($fh-skin-color-default-fg, 0.06),
    0 8px 8px rgba($fh-skin-color-default-fg, 0.04),
    0 16px 16px rgba($fh-skin-color-default-fg, 0.02);

  &.is-disabled, &[disabled] {
    cursor: not-allowed;
  }

  .media + .text {
    margin-left: 0.5em;
  }

  .text + .media {
    margin-left: 0.5em;
  }
}

@mixin fh-button($options: ()) {
  @include fh-component(ui-button, $options);
}


