%fh-card {
  @include fh-align(y, center);
  border-radius: 0.33em;
  background-color: white;
  color: $fh-skin-color-default-fg;
  box-shadow: $fh-skin-shadows-default-fg;

  .#{map-get($fh-ui, 'bar')},
  .#{map-get($fh-ui, 'content')} {
    padding: 1em;
  }
}

@mixin fh-card($options: ()) {
  @include fh-component(map-get($fh-ui, 'card'), $options);
}
