$scale-factor: 0.05 !default;
$scale-levels: 64 !default;
$scale-steps: (
  xxs: 0.5,
  xs: 0.75,
  sm: 1.0,
  md: 1.25,
  lg: 1.5,
  xl: 1.75,
  xxl: 2.0
) !default;

@mixin scale-handler($params) {

  $options: map-merge((
    ctx: '',
    size: 1,
    unit: rem,
    step: 'md'
  ), $params);

  $ctx:  map-get($options, ctx);
  $step: map-get($options, step);
  $size: map-get($options, size);

  #{$ctx}[scale='#{$step}'],
  #{$ctx}.scale--#{$step} {
    font-size: $size + map-get($options, unit);
  }

  #{$ctx}[scale-root='#{$step}'],
  #{$ctx}.scale-root--#{$step} {
    font-size: $size + rem;
  }

  #{$ctx}[scale-inherit='#{$step}'],
  #{$ctx}.scale-inherit--#{$step} {
    font-size: $size + em;
  }
}

@mixin scale-steps($ctx, $unit) {
  @each $step in $scale-steps {
    $idx: index($scale-steps, $step);
    $key: nth(map-keys($scale-steps), $idx);
    $options: (
      ctx: $ctx,
      unit: $unit,
      size: map-get($scale-steps, $key),
      step: $key
    );

    @include scale-handler($options);
  }
}

@mixin scale-levels($ctx, $unit) {
  @for $idx from 1 through $scale-levels {
    $options: (
      ctx: $ctx,
      unit: $unit,
      size: $scale-factor * $idx,
      step: $idx
    );
    @include scale-handler($options);
  }
}

@mixin scale($target: self, $unit: em) {
  $ctx: if($target == self, '&', '');
  @include scale-levels($ctx, $unit);
  @include scale-steps($ctx, $unit);
}

@mixin scale-generator() {
  @include scale(child, rem);

  .is-scalable {
    font-size: 1em;
    @include scale(self, em);
  }
}
