.text,
.button,
.media,
.card {
  display: inline-flex;
  align-items: center;
}

.inner {
  display: flex;
}

.text {
  @extend %Text;
}

.media {
  @extend %Media;
}

.button {
  @extend %Button;
}

.card {
  @extend %Card;
}

.header {
  @extend %Header;
}

.content {

}

.footer {
  @extend %Footer;
}
